<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Nós temos o que você precisa!</h2>
                <hr class="light">
                <p class="text-faded">
                    Com a missão de gerar valor à sua empresa, a VM Desenvolvimento & Design está preparada para
                    atuar dentro das tuas necessidades, desenvolvendo sofwares que gerem valor aos teus negócios
                    de forma ágil, com entregas contínuas e criando a identidade visual que atenda às demandas de
                    seu negócio e mercado.
                </p>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
