<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Nós temos o que você precisa!</h2>
                <hr class="light">
                <p class="text-faded text-justify">
                    Com a missão de gerar valor à tua empresa, a <strong>VM Desenvolvimento & Design</strong> está
                    preparada para atuar dentro das tuas necessidades, desenvolvendo sofwares que gerem valor aos
                    teus negócios de forma ágil, com entregas contínuas e criando a identidade visual que atenda às
                    demandas de teu negócio e mercado.
                </p>
                <p class="text-faded text-justify">
                    Trabalhamos para entregar mais do que linhas de código para nossos
                    clientes, trabalhamos para gerar valor e torná-los referências em sua área de atuação.
                </p>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
