<section id="contact" class="bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Entre em contato conosco!</h2>
                <hr class="primary">
                <p>
                    Pronto para iniciar seu próximo projeto conosco? Isso é ótimo!! Entre em contato enviando-nos um
                    e-mail para <a style="color: #204d74;" href="mailto:vmdevdesign@gmail.com">vmdevdesign@gmail.com</a> e nós
                    retornaremos o contato o mais rápido possível. Caso prefira, faça contato pelo <a style="color: #204d74;"
                        href="https://t.me/vermarcal">Telegram</a> de nosso desenvolvedor.
                </p>
            </div>
    </div>
</section>
