<header>
    <div class="header-content">
        <div class="header-content-inner; align-center;">
            <div class="-align-justify; hidden-xs">
                <img src="../img/Logo-VM-Clara.png" height="99" width="419"/></div>
            <h1 style="float: none">Gerando valor com Desenvolvimento e Design Gráfico sob medida</h1>
            <hr>
            <p><strong>A VM Desenvolvimento & Design</strong> tem como missão gerar valor à sua empresa <br/> com o
                desenvolvimento de Sistemas, Aplicações Web e criação da Identidade Visual!</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Sobre nós!</a>
        </div>
    </div>
</header>
