<section class="no-padding" id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">
                    Portifolio
                    <a href="https://www.instagram.com/vmdevdesign/" style="text-decoration: none">
                        <i class="fa fa-lg fa-instagram wow bounceIn text-primary"></i>
                    </a>
                </h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="https://vmcotacoes.herokuapp.com" class="portfolio-box" target="_blank">
                    <img src="img/portfolio/1.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Aplicação Web
                            </div>
                            <div class="project-name">
                                App Cotações
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.instagram.com/vmdevdesign/" class="portfolio-box" target="_blank">
                    <img src="img/portfolio/2.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Design Gráfico
                            </div>
                            <div class="project-name">
                                Livro Infantil
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.instagram.com/vmdevdesign/" class="portfolio-box" target="_blank">
                    <img src="img/portfolio/3.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Design Gráfico
                            </div>
                            <div class="project-name">
                                Identidade Visual
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.instagram.com/vmdevdesign/" class="portfolio-box" target="_blank">
                    <img src="img/portfolio/4.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Desgin Gráfico
                            </div>
                            <div class="project-name">
                                Identidade Visual
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.instagram.com/vmdevdesign/" class="portfolio-box" target="_blank">
                    <img src="img/portfolio/5.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Design Gráfico
                            </div>
                            <div class="project-name">
                                Logos
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.instagram.com/vmdevdesign/" class="portfolio-box" target="_blank">
                    <img src="img/portfolio/6.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Design Gráfico
                            </div>
                            <div class="project-name">
                                Outdoors
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
