<section id="services" class="bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Serviços</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-file-code-o wow bounceIn text-faded"></i>
                    <h3>Desenvolvimento</h3>
                    <p class="text-faded text-justify">
                        Com foco na solução que agregará valor ao cliente, desenvolvemos softwares e aplicações web
                        que atendam à demanda do cliente. Com metodologia ágil e entregas contínuas, indo muito além
                        do código.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-pencil-square-o wow bounceIn text-faded" data-wow-delay=".3s"></i>
                    <h3>Design Gráfico</h3>
                    <p class="text-faded text-justify">
                        Do briefing à concepção da Logo, a <strong>VM Desenvolvimento & Design</strong> trabalha para
                        oferecer o melhor ordenamento estético-formal de elementos textuais e não-textuais que
                        compõem as peças gráficas destinadas à comunicação do cliente com seu público-alvo.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
